body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(147, 39, 39);
    text-align: center;
}
hr{
    width: 500px;
}
#errors{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#board{
    width: 450px;
    height: 450px;
    background-color: rgb(193, 189, 181);
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid black;
}
.tile{
    width: 46px;
    height: 46px;
    border: 2px solid lightgray;
    /*text*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digits{
    width: 450px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.number{
    background-color: rgb(193, 189, 181);
    width: 42px;
    height: 44px;
    border: 2px solid black;
    margin: 2px;
    /*text*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-selected{
    background-color: rgb(119, 122, 114);
}
.tile-start{
    background-color: whitesmoke;
}
.horizontal-line{
    border-bottom: 2px solid black;
}
.vertical-line{
    border-right: 2px solid black;
}